.nav nav-pills {
  background-color: #E74C3C;
}

.jumbotron {
  background-image: url("http://i.stack.imgur.com/MtKUX.jpg");
  background-position:center;
  width:1000px;
  height:400px;
}

h1 {
  font-family: "Lucida Sans Unicode";
  font-size: 24px;
}

p {
  font-family: "Lucida Grande";
}

#project1 {
  width: 350px;
  height: 150px;
}

#project1 img {
 width: 100%;
 height: auto;
}

#project2 {
  width: 350px;
  height: 150px;
}

#project2 img {
 width: 100%;
 height: auto;
}

#project3 {
  width: 350px;
  height: 150px;
}

#project3 img {
 width: 100%;
 height: auto;
}

#footer {
 clear: both;
 position: relative;
 z-index: 10;
 height: 3em;
 margin-top: -3em;
 background-color: black;
 color:white;
 text-align: center;
}


