 

.nav nav-pills {
background-color: #E74C3C;

}

.jumbotron {
    background-color: #E74C3C;
    background-image:url(http://static.tumblr.com/289417ab992746f4d5238c5b898265f6/bgmhkat/PLGmr094x/tumblr_static_tumblr_static_stock___flying_black_birds___silhouette_3_by_jassy2012-d5la8ci.png);
    background-position:center;
    width:1000px;
    height:400px;
    }